---
http_interactions:
- request:
    method: post
    uri: http://sample.lvh.me:4000/locomotive/api/tokens.json
    body:
      encoding: US-ASCII
      string: email=john%40doe.net&password=easyone
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - http://sample.lvh.me:4000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"557f8d72cf11ab5399621eddec942c29"'
    body:
      encoding: UTF-8
      string: '{"token":"9GLRWwc2MGTCF7SHiZSg"}'
  recorded_at: Fri, 27 Mar 2015 01:01:45 GMT
- request:
    method: get
    uri: http://sample.lvh.me:4000/locomotive/api/content_types.json?auth_token=9GLRWwc2MGTCF7SHiZSg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7dbb8592219d2f208083b29864ef8522"'
    body:
      encoding: UTF-8
      string: '[{"id":"54eb4b662475804b2b00000a","_id":"54eb4b662475804b2b00000a","created_at":"2015-02-23T15:46:46Z","updated_at":"2015-02-23T15:46:47Z","name":"Bands","slug":"bands","entries_custom_fields":[{"id":"54eb4b662475804b2b00000b","_id":"54eb4b662475804b2b00000b","name":"name","label":"Name","type":"string","required":true,"localized":false,"unique":false,"hint":"Name
        of the band","position":0},{"id":"54eb4b662475804b2b00000c","_id":"54eb4b662475804b2b00000c","name":"leader","label":"Fullname
        of the leader","type":"string","required":false,"localized":false,"unique":false,"position":1},{"id":"54eb4b662475804b2b00000d","_id":"54eb4b662475804b2b00000d","name":"kind","label":"Music
        kind (grunge, rock, pop, country)","type":"select","required":false,"localized":false,"unique":false,"position":2,"select_options":[{"_id":"54eb4b662475804b2b00000f","name":"grunge","position":0,"id":"54eb4b662475804b2b00000f"},{"_id":"54eb4b662475804b2b000010","name":"rock","position":1,"id":"54eb4b662475804b2b000010"},{"_id":"54eb4b662475804b2b000011","name":"country","position":2,"id":"54eb4b662475804b2b000011"}],"raw_select_options":[{"id":"54eb4b662475804b2b00000f","name":{"en":"grunge"},"position":2},{"id":"54eb4b662475804b2b000010","name":{"en":"rock"},"position":2},{"id":"54eb4b662475804b2b000011","name":{"en":"country"},"position":2}]},{"id":"54eb4b662475804b2b00002d","_id":"54eb4b662475804b2b00002d","name":"songs","label":"Songs","type":"has_many","required":false,"localized":false,"unique":false,"position":3,"class_name":"Locomotive::ContentEntry54eb4b662475804b2b00001e","inverse_of":"band","ui_enabled":true,"class_slug":"songs"},{"id":"54eb4b662475804b2b00000e","_id":"54eb4b662475804b2b00000e","name":"featured","label":"Featured","type":"boolean","required":false,"localized":false,"unique":false,"position":4}],"description":"List
        of bands","label_field_name":"name","order_by":"54eb4b662475804b2b00000b","order_direction":"asc","order_by_field_name":"name","public_submission_enabled":false,"public_submission_account_emails":[]},{"id":"54eb4bb52475804b2b000037","_id":"54eb4bb52475804b2b000037","created_at":"2015-02-23T15:48:05Z","updated_at":"2015-02-23T15:48:05Z","name":"Events","slug":"events","entries_custom_fields":[{"id":"54eb4bb52475804b2b000038","_id":"54eb4bb52475804b2b000038","name":"place","label":"Place","type":"string","required":true,"localized":false,"unique":false,"hint":"Name
        of the place","position":0},{"id":"54eb4bb52475804b2b000039","_id":"54eb4bb52475804b2b000039","name":"date","label":"Date","type":"date","required":false,"localized":false,"unique":false,"hint":"Date
        of the event","position":1},{"id":"54eb4bb52475804b2b00003a","_id":"54eb4bb52475804b2b00003a","name":"city","label":"City
        of the event","type":"string","required":false,"localized":false,"unique":false,"position":2},{"id":"54eb4bb52475804b2b00003b","_id":"54eb4bb52475804b2b00003b","name":"state","label":"State
        of the event","type":"string","required":false,"localized":false,"unique":false,"position":3},{"id":"54eb4bb52475804b2b00003c","_id":"54eb4bb52475804b2b00003c","name":"notes","label":"Notes","type":"text","required":false,"localized":false,"unique":false,"position":4,"text_formatting":""},{"id":"54eb4bb52475804b2b00003d","_id":"54eb4bb52475804b2b00003d","name":"tags","label":"List
        of tags","type":"tags","required":false,"localized":false,"unique":false,"position":5},{"id":"54eb4bb52475804b2b00003e","_id":"54eb4bb52475804b2b00003e","name":"price","label":"Price
        of the event","type":"float","required":false,"localized":false,"unique":false,"position":6}],"description":"List
        of upcoming events","label_field_name":"place","order_by":"created_at","order_dir[...]
- request:
    method: get
    uri: http://sample.lvh.me:4000/locomotive/api/content_types/bands/entries.json?auth_token=9GLRWwc2MGTCF7SHiZSg&where=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Total-Pages:
      - '1'
      X-Per-Page:
      - '10'
      X-Total-Entries:
      - '3'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"acdca437af0d80bdce84271e269afe92"'
    body:
      encoding: UTF-8
      string: '[{"id":"54eb4bbc2475804b2b000040","_id":"54eb4bbc2475804b2b000040","created_at":"2015-02-23T15:48:12Z","updated_at":"2015-03-26T14:11:05Z","_label":"Alice
        in chains","_slug":"alice-in-chains","_position":1,"_visible":true,"content_type_slug":"bands","name":"Alice
        in chains","leader":"Layne","kind":"grunge","kind_id":"54eb4b662475804b2b00000f","featured":false,"songs":[]},{"id":"54eb4bbc2475804b2b00003f","_id":"54eb4bbc2475804b2b00003f","created_at":"2015-02-23T15:48:12Z","updated_at":"2015-02-23T15:48:12Z","_label":"Pearl
        Jam","_slug":"pearl-jam","_position":0,"_visible":true,"content_type_slug":"bands","name":"Pearl
        Jam","leader":"Eddie","kind":"grunge","kind_id":"54eb4b662475804b2b00000f","featured":false,"songs":["song-number-1","song-number-2","song-number-3","song-number-4"]},{"id":"54eb4bbc2475804b2b000041","_id":"54eb4bbc2475804b2b000041","created_at":"2015-02-23T15:48:12Z","updated_at":"2015-02-23T15:48:12Z","_label":"The
        who","_slug":"the-who","_position":2,"_visible":true,"content_type_slug":"bands","name":"The
        who","leader":"Peter","kind":"rock","kind_id":"54eb4b662475804b2b000010","featured":true,"songs":["song-number-5","song-number-6"]}]'
  recorded_at: Fri, 27 Mar 2015 01:01:45 GMT
- request:
    method: get
    uri: http://sample.lvh.me:4000/locomotive/api/content_types/bands/entries.json?auth_token=9GLRWwc2MGTCF7SHiZSg&page=2&per_page=2&where=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Total-Pages:
      - '2'
      X-Per-Page:
      - '2'
      X-Total-Entries:
      - '3'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"77cec12cfd3fa8312a6ebfe37146b5b3"'
    body:
      encoding: UTF-8
      string: '[{"id":"54eb4bbc2475804b2b000041","_id":"54eb4bbc2475804b2b000041","created_at":"2015-02-23T15:48:12Z","updated_at":"2015-02-23T15:48:12Z","_label":"The
        who","_slug":"the-who","_position":2,"_visible":true,"content_type_slug":"bands","name":"The
        who","leader":"Peter","kind":"rock","kind_id":"54eb4b662475804b2b000010","featured":true,"songs":["song-number-5","song-number-6"]}]'
  recorded_at: Fri, 27 Mar 2015 01:01:45 GMT
- request:
    method: get
    uri: http://sample.lvh.me:4000/locomotive/api/content_types/bands/entries.json?auth_token=9GLRWwc2MGTCF7SHiZSg&where=%7B%22_visible%22:true,%22name%22:%22Pearl%20Jam%22%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Total-Pages:
      - '1'
      X-Per-Page:
      - '10'
      X-Total-Entries:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f8ee5f52f06bb626aa8998c399bdd303"'
    body:
      encoding: UTF-8
      string: '[{"id":"54eb4bbc2475804b2b00003f","_id":"54eb4bbc2475804b2b00003f","created_at":"2015-02-23T15:48:12Z","updated_at":"2015-02-23T15:48:12Z","_label":"Pearl
        Jam","_slug":"pearl-jam","_position":0,"_visible":true,"content_type_slug":"bands","name":"Pearl
        Jam","leader":"Eddie","kind":"grunge","kind_id":"54eb4b662475804b2b00000f","featured":false,"songs":["song-number-1","song-number-2","song-number-3","song-number-4"]}]'
  recorded_at: Fri, 27 Mar 2015 01:01:45 GMT
- request:
    method: put
    uri: http://sample.lvh.me:4000/locomotive/api/content_types/bands/entries/54eb4bbc2475804b2b00003f.json
    body:
      encoding: US-ASCII
      string: content_entry[name]=Pearl%20Jam&auth_token=9GLRWwc2MGTCF7SHiZSg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Message:
      - '"Content%20entry%20was%20successfully%20updated."'
      X-Message-Type:
      - notice
      Location:
      - http://sample.lvh.me:4000/locomotive/api/content_types/bands/entries
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"292926cc6fdf765e8a753a14912c51e2"'
    body:
      encoding: UTF-8
      string: '{"id":"54eb4bbc2475804b2b00003f","_id":"54eb4bbc2475804b2b00003f","created_at":"2015-02-23T15:48:12Z","updated_at":"2015-02-23T15:48:12Z","_label":"Pearl
        Jam","_slug":"pearl-jam","_position":0,"_visible":true,"content_type_slug":"bands","name":"Pearl
        Jam","leader":"Eddie","kind":"grunge","kind_id":"54eb4b662475804b2b00000f","featured":false,"songs":["song-number-1","song-number-2","song-number-3","song-number-4"]}'
  recorded_at: Fri, 27 Mar 2015 01:01:45 GMT
recorded_with: VCR 2.9.3
