---
http_interactions:
- request:
    method: post
    uri: http://sample.lvh.me:4000/locomotive/api/tokens.json
    body:
      encoding: US-ASCII
      string: email=john%40doe.net&password=easyone
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - http://sample.lvh.me:4000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"557f8d72cf11ab5399621eddec942c29"'
    body:
      encoding: UTF-8
      string: '{"token":"9GLRWwc2MGTCF7SHiZSg"}'
  recorded_at: Thu, 26 Mar 2015 01:15:05 GMT
- request:
    method: get
    uri: http://sample.lvh.me:4000/locomotive/api/my_account.json?auth_token=9GLRWwc2MGTCF7SHiZSg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a92de87519c76eb87c2fd747c69b59a0"'
    body:
      encoding: UTF-8
      string: '{"id":"54eb49b22475804b2b000001","_id":"54eb49b22475804b2b000001","created_at":"2015-02-23T15:39:30Z","updated_at":"2015-03-26T01:15:05Z","name":"John","email":"john@doe.net","locale":"en","encrypted_password":"fc2fa5bc736ba0f4ab04c4e427660f7a4fd7a360","password_salt":"ccEcFveptwhvSoRoExkX","api_key":"a9ac1e08c2c22c1b6f3da6db77a70cac4a615bd7","admin":true}'
  recorded_at: Thu, 26 Mar 2015 01:15:05 GMT
recorded_with: VCR 2.9.3
