---
http_interactions:
- request:
    method: post
    uri: http://sample.lvh.me:4000/locomotive/api/tokens.json
    body:
      encoding: US-ASCII
      string: email=john%40doe.net&password=easyone
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - http://sample.lvh.me:4000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"557f8d72cf11ab5399621eddec942c29"'
    body:
      encoding: UTF-8
      string: '{"token":"9GLRWwc2MGTCF7SHiZSg"}'
  recorded_at: Wed, 25 Mar 2015 23:32:02 GMT
- request:
    method: get
    uri: http://sample.lvh.me:4000/locomotive/api/my_account.json?auth_token=9GLRWwc2MGTCF7SHiZSg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"40f01973492a15852b951206bae25738"'
    body:
      encoding: UTF-8
      string: '{"id":"54eb49b22475804b2b000001","_id":"54eb49b22475804b2b000001","created_at":"2015-02-23T15:39:30Z","updated_at":"2015-03-25T23:32:02Z","name":"John","email":"john@doe.net","locale":"en","encrypted_password":"fc2fa5bc736ba0f4ab04c4e427660f7a4fd7a360","password_salt":"ccEcFveptwhvSoRoExkX","api_key":"a9ac1e08c2c22c1b6f3da6db77a70cac4a615bd7","admin":true}'
  recorded_at: Wed, 25 Mar 2015 23:32:02 GMT
- request:
    method: put
    uri: http://sample.lvh.me:4000/locomotive/api/my_account.json
    body:
      encoding: US-ASCII
      string: my_account[name]=John%20Doe&auth_token=9GLRWwc2MGTCF7SHiZSg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      Content-Type:
      - text/html; charset=utf-8
      Editable:
      - 'true'
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang='en'>\n  <head>\n    <meta charset='utf-8'>\n
        \   <title>Sample website</title>\n    <meta content='some meta description'
        name='description'>\n    <meta content='some meta keywords' name='keywords'>\n
        \   <link rel=\"alternate\" type=\"application/atom+xml\" title=\"A title\"
        href=\"/foo/bar\">\n    <!-- Le HTML5 shim, for IE6-8 support of HTML elements
        -->\n    <!--[if lt IE 9]>\n      <script src=\"http://html5shim.googlecode.com/svn/trunk/html5.js\"></script>\n
        \   <![endif]-->\n    <link href=\"/fonts/chunkfive.css\" media=\"screen\"
        rel=\"stylesheet\" type=\"text/css\" />\n    <!-- Le styles -->\n    <link
        href=\"http://fonts.googleapis.com/css.css?family=Open+Sans:400,700\" media=\"screen\"
        rel=\"stylesheet\" type=\"text/css\">\n    <link href=\"/sites/54eb49c12475804b2b000002/theme/stylesheets/reboot.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\">\n    <link href=\"/sites/54eb49c12475804b2b000002/theme/stylesheets/application.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\">\n    <script src=\"/sites/54eb49c12475804b2b000002/theme/javascripts/application.js\"
        type='text/javascript'></script>\n    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'
        type='text/javascript'></script>\n    \n  </head>\n  <body>\n    <div class='container'>\n
        \     <div id='menu'>\n        <ul id='nav'>\n          <li class=\" link\"
        id='home'>\n            <a href='/'>Home</a>\n          </li>\n          <li
        id=\"about-us-link\" class=\"link first\"><a href=\"/about-us\">About Us</a></li>\n<li
        id=\"music-link\" class=\"link \"><a href=\"/music\">Music</a></li>\n<li id=\"store-link\"
        class=\"link \"><a href=\"/store\">Store</a></li>\n<li id=\"contact-link\"
        class=\"link last\"><a href=\"/contact\">Contact Us</a></li>\n        </ul>\n
        \       <div class='clear'></div>\n      </div>\n      <div id='banner'>\n
        \       \n        <div class='photo'>\n          <img src=\"/sites/54eb49c12475804b2b000002/assets/54eb4bc82475804b2b00005c/photo.jpg?1424706507\">\n
        \       </div>\n        <div class='text'>\n          \n          <h2>About
        Us</h2>\n          <p>\n            Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Suspendisse vitae egestas neque. Proin ac ante ante, sit
        amet egestas purus. Fusce tincidunt mattis sapien eget sodales. Cras aliquet
        odio eu nisl dapibus placerat.\n            <br>\n            <a href='/about_us'>read
        more...</a>\n          </p>\n          \n        </div>\n        \n        <div
        class='clear'></div>\n      </div>\n      <div id='content'>\n        \n<p
        class='error'>page not found</p>\n\n        <div class='clear'></div>\n      </div>\n
        \     <div id='footer'>\n        <div id='is_templatized' templatized='false'></div>\n
        \       <div id='scoped_translation' scoped_translation=\"French\"></div>\n
        \       <[...]
