---
http_interactions:
- request:
    method: post
    uri: http://sample.lvh.me:4000/locomotive/api/tokens.json
    body:
      encoding: US-ASCII
      string: email=john%40doe.net&password=easyone
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - http://sample.lvh.me:4000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"557f8d72cf11ab5399621eddec942c29"'
    body:
      encoding: UTF-8
      string: '{"token":"9GLRWwc2MGTCF7SHiZSg"}'
  recorded_at: Fri, 27 Mar 2015 01:01:37 GMT
- request:
    method: post
    uri: http://sample.lvh.me:4000/locomotive/api/my_account.json
    body:
      encoding: US-ASCII
      string: account[name]=Jane%20Doe&account[email]=jane%40doe.net&account[password]=easyone&account[password_confirmation]=easyone&auth_token=9GLRWwc2MGTCF7SHiZSg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - http://sample.lvh.me:4000/locomotive/accounts/5514abf1c365110935000030
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"89e9e52f7a0867bd722acc471411f17e"'
    body:
      encoding: UTF-8
      string: '{"id":"5514abf1c365110935000030","_id":"5514abf1c365110935000030","created_at":"2015-03-27T01:01:37Z","updated_at":"2015-03-27T01:01:37Z","name":"Jane
        Doe","email":"jane@doe.net","locale":"en","encrypted_password":"b5fc1e40f1c19a5dff12801ea20196d843abcef8","password_salt":"pZamCfS3SgVpruT1C7rA","api_key":"79cb843a344fbd0716bf04d7368d865737c7d61c","admin":false}'
  recorded_at: Fri, 27 Mar 2015 01:01:37 GMT
- request:
    method: post
    uri: http://sample.lvh.me:4000/locomotive/api/my_account.json
    body:
      encoding: US-ASCII
      string: auth_token=9GLRWwc2MGTCF7SHiZSg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Status:
      - 422 Unprocessable Entity
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":["can''t be blank"],"password":["can''t be blank"],"name":["can''t
        be blank"]}'
  recorded_at: Fri, 27 Mar 2015 01:01:37 GMT
- request:
    method: get
    uri: http://sample.lvh.me:4000/locomotive/api/my_account.json?auth_token=9GLRWwc2MGTCF7SHiZSg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cbe04380eddc2e152ed1a0d080952d38"'
    body:
      encoding: UTF-8
      string: '{"id":"54eb49b22475804b2b000001","_id":"54eb49b22475804b2b000001","created_at":"2015-02-23T15:39:30Z","updated_at":"2015-03-27T01:01:37Z","name":"John
        Doe","email":"john@doe.net","locale":"en","encrypted_password":"fc2fa5bc736ba0f4ab04c4e427660f7a4fd7a360","password_salt":"ccEcFveptwhvSoRoExkX","api_key":"a9ac1e08c2c22c1b6f3da6db77a70cac4a615bd7","admin":true}'
  recorded_at: Fri, 27 Mar 2015 01:01:37 GMT
- request:
    method: put
    uri: http://sample.lvh.me:4000/locomotive/api/my_account.json
    body:
      encoding: US-ASCII
      string: account[name]=John%20Doe&auth_token=9GLRWwc2MGTCF7SHiZSg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Message:
      - '"Account%20was%20successfully%20updated."'
      X-Message-Type:
      - notice
      Location:
      - http://sample.lvh.me:4000/locomotive/accounts/54eb49b22475804b2b000001
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cbe04380eddc2e152ed1a0d080952d38"'
    body:
      encoding: UTF-8
      string: '{"id":"54eb49b22475804b2b000001","_id":"54eb49b22475804b2b000001","created_at":"2015-02-23T15:39:30Z","updated_at":"2015-03-27T01:01:37Z","name":"John
        Doe","email":"john@doe.net","locale":"en","encrypted_password":"fc2fa5bc736ba0f4ab04c4e427660f7a4fd7a360","password_salt":"ccEcFveptwhvSoRoExkX","api_key":"a9ac1e08c2c22c1b6f3da6db77a70cac4a615bd7","admin":true}'
  recorded_at: Fri, 27 Mar 2015 01:01:37 GMT
recorded_with: VCR 2.9.3
