---
http_interactions:
- request:
    method: post
    uri: http://sample.lvh.me:4000/locomotive/api/tokens.json
    body:
      encoding: US-ASCII
      string: email=john%40doe.net&password=easyone
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - http://sample.lvh.me:4000/locomotive/
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"557f8d72cf11ab5399621eddec942c29"'
    body:
      encoding: UTF-8
      string: '{"token":"9GLRWwc2MGTCF7SHiZSg"}'
  recorded_at: Fri, 27 Mar 2015 01:01:46 GMT
- request:
    method: get
    uri: http://sample.lvh.me:4000/locomotive/api/sites.json?auth_token=9GLRWwc2MGTCF7SHiZSg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"27be6463599a141506d7c3185ef2261b"'
    body:
      encoding: UTF-8
      string: '[{"id":"54eb49c12475804b2b000002","_id":"54eb49c12475804b2b000002","created_at":"2015-02-23T15:39:45Z","updated_at":"2015-02-23T15:46:46Z","name":"Sample
        website","locales":["en","fr","nb"],"timezone":"UTC","subdomain":"sample","domains":["example.org","sample.example.com","sample.lvh.me"],"domains_without_subdomain":["example.org","sample.example.com"],"domain_name":"lvh.me","memberships":[{"id":"54eb49c12475804b2b000003","_id":"54eb49c12475804b2b000003","role":"admin","role_name":"Administrator","can_update":false,"grant_admin":true,"account_id":"54eb49b22475804b2b000001","name":"John
        Doe","email":"john@doe.net"}],"seo_title":"A simple LocomotiveCMS website","meta_keywords":"some
        meta keywords","meta_description":"some meta description"}]'
  recorded_at: Fri, 27 Mar 2015 01:01:46 GMT
- request:
    method: post
    uri: http://sample.lvh.me:4000/locomotive/api/sites.json
    body:
      encoding: US-ASCII
      string: site[name]=Acme&site[subdomain]=acme&site[locales][]=en&auth_token=9GLRWwc2MGTCF7SHiZSg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      Location:
      - http://sample.lvh.me:4000/locomotive/sites/5514abfac365110935000032
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"db226fe30bd9290165fc3b059b14aca7"'
    body:
      encoding: UTF-8
      string: '{"id":"5514abfac365110935000032","_id":"5514abfac365110935000032","created_at":"2015-03-27T01:01:46Z","updated_at":"2015-03-27T01:01:46Z","name":"Acme","locales":["en"],"timezone":"UTC","subdomain":"acme","domains":["acme.lvh.me"],"domains_without_subdomain":[],"domain_name":"lvh.me","memberships":[{"id":"5514abfac365110935000033","_id":"5514abfac365110935000033","role":"admin","role_name":"Administrator","can_update":false,"grant_admin":true,"account_id":"54eb49b22475804b2b000001","name":"John
        Doe","email":"john@doe.net"}]}'
  recorded_at: Fri, 27 Mar 2015 01:01:46 GMT
- request:
    method: delete
    uri: http://sample.lvh.me:4000/locomotive/api/sites/5514abfac365110935000032.json
    body:
      encoding: US-ASCII
      string: auth_token=9GLRWwc2MGTCF7SHiZSg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Message:
      - '"Site%20was%20successfully%20destroyed."'
      X-Message-Type:
      - notice
      Location:
      - http://sample.lvh.me:4000/locomotive/sites
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"064cd671c8300d8ed8e668d1b5bfbfc0"'
    body:
      encoding: UTF-8
      string: '{"id":null,"_id":null,"created_at":"2015-03-27T01:01:46Z","updated_at":"2015-03-27T01:01:46Z","name":"Acme","locales":["en"],"timezone":"UTC","subdomain":"acme","domains":["acme.lvh.me"],"domains_without_subdomain":[],"domain_name":"lvh.me","memberships":[{"id":"5514abfac365110935000033","_id":"5514abfac365110935000033","role":"admin","role_name":"Administrator","can_update":false,"grant_admin":true,"account_id":"54eb49b22475804b2b000001","name":"John
        Doe","email":"john@doe.net"}]}'
  recorded_at: Fri, 27 Mar 2015 01:01:46 GMT
recorded_with: VCR 2.9.3
